body {
    background-color: #22386A;
    color:white;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.green {
    color:green;
}

ul{
    list-style-type: none;
    padding: 0;
}
a {
    color:red;
    padding-right: 60px;
}
